body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  background-color: #241616;
  background-image:url(mount-tam.JPG) no-repeat center center fixed;
  background-size: cover;
  background-repeat: repeat-x;
}

#name {
  color: #90342D;
  position: absolute;
  margin-left: 85%;
  font-size: 24px;
  line-height: 2em;
  margin-top: 0;
  padding: 0;
  font-weight: bold;
  font-family: Vivaldi, cursive;
}

#face-pic {
  position: absolute;
  margin-left: 85%;
  max-width: 15%;
  z-index: 2;
}

#title {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 11%;
  text-align: center;
  font-size: 6em;
  color: #73858b;
  font-family: Vivaldi, cursive;
}

div.background {
  display: inline-block;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 38%;
  right: 10%;
}

div.transbox {
  background-image: url("imgs/concrete_seamless.png");
  border: 1px solid black;
  opacity: 0.5;
  padding 2%;
  text-align: center;
}

div.transbox p {
  margin: 1% 5%;
  font-weight: bold;
  color: #000000;
}

.topics {
  font-weight: bolder;
  font-style: Vivaldi, cursive, serif;
}

nav {
  z-index: 3;
  background-color: #412E3D;
  margin: 0;
  overflow: hidden;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav > ul > li > a {
  color: #51676E;
  background-color: #412E3D;
  display: block;
  line-height: 2em;
  padding: 0.5em 0.5em;
  text-decoration: none;
}

nav > ul >li > a:hover {
  background-color: #544250;
}
