#name {
  color: #90342D;
  position: absolute;
  left: 85%;
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 0;
  padding: 0;
  font-weight: bold;
  font-family: Vivaldi, cursive;
}

nav {
  z-index: 3;
  background-color: #412E3D;
  margin: 0;
  overflow: hidden;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav > ul > li > a {
  color: #51676E;
  background-color: #412E3D;
  display: inline-block;
  line-height: 2em;
  padding: 0.5em 0.5em;
  text-decoration: none;
}

nav > ul >li > a:hover {
  background-color: #544250;
}